body {
  background: black;
  color: white;
  padding: 50px;
}

#tic-tac-toe {
  height: 600px;
}

#title {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

#title h1 {
  font-size: 3em;
}

.container {
  margin: auto;
  margin-top: 50px;
  width: 600px;
  height: 450px;
}

.row {
  display: block;
}

.box {
  height: 150px;
  font-size: 3em;
  text-align: center;
  padding-top: 7%;
}

#box1 {
  border-left: 2px solid white;
  border-right: 2px solid white;
}

#box3 {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

#box4 {
  border: 2px solid white;
}

#box5 {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

#box7 {
  border-left: 2px solid white;
  border-right: 2px solid white;
}

#choose {
  position: relative;
  background-color: white;
  height: 450px;
  width: 600px;
  top: -450px;
  margin: auto;
  color: black;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  padding-top: 50px;
  opacity: 0;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}

button {
  margin: 5%;
}

#display-winner {
  position: relative;
  background-color: white;
  height: 450px;
  width: 600px;
  top: -450px;
  margin: auto;
  color: black;
  text-align: center;
  font-size: 4em;
  font-family: 'Permanent Marker', cursive;
  padding: 100px;
  opacity: 0;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}

/* Media queries */

@media only screen and (max-width: 655px) {
  .container {
    height: 225px;
    width: 300px;
  }
  #choose {
    height: 225px;
    width: 300px;
    top: -225px;
    padding-top: 10px;
  }
  #choose h1 {
    font-size: 1.5em;
  }
  .box {
    height: 75px;
    padding-top: 2%;
  }
  #display-winner {
    height: 225px;
    width: 300px;
    top: -225px;
    padding: 10px;
  }
  #display-winner h1 {
    font-size: 1.5em;
  }
}
